/__pycache__
/chainlance
/cranklance
/cranklanced
/gearlance
/gearlanced
/geartalk.pb.[ch]
/genelance
/rdoc
/test/reference.out
/torquelance
/torquelance-compile
/torquelance-header.o
/torquelance-ops.o
/wrenchlance-left
/wrenchlance-ops.o
/wrenchlance-right
/zhill/geartalk.pb.rb
