body {
    padding-top: 50px;
}

/* scores page */

.sorticon {
    font-size: x-small;
    padding: 3px;
    cursor: pointer;
}
.sortactive {
    color: #a00;
}

.extracolumns button {
    margin-right: 4px;
}

/* matrix page */

table.matrix {
    th, td { padding: 2px; }
    th { font-size: small; font-weight: normal; text-align: center; }
    td.progname { font-size: small; padding-left: 8px; }

    th.hov, td.hov { font-weight: bold; background-color: #ccc; }
}

.me { background-color: #bbb; }
.mt { background-color: rgb(213,213,213); }
.mt > a { color: black; }

/* game page */

#ejForm textarea {
    margin-top: 2ex;
    font-family: monospace;
}
#ejForm input[type=button] {
    margin-top: 2ex;
}