body {
    padding-top: 50px;
}

/* scores page */

.sorticon {
    font-size: x-small;
    padding: 3px;
    cursor: pointer;
}
.sortactive {
    color: #a00;
}

/* matrix page */

table.matrix {
    th, td { padding: 2px; }
    th { font-size: small; font-weight: normal; text-align: center; }
    td.progname { font-size: small; padding-left: 8px; }

    th.hov, td.hov { font-weight: bold; background-color: #ccc; }
}

.me { background-color: #bbb; }
.mt { background-color: rgb(213,213,213); }

@mixin win($lvl) { background-color: rgb(213+$lvl,213,213); color: rgb(3*$lvl,0,0); }
.mw1 { @include win(1); }
.mw2 { @include win(2); }
.mw3 { @include win(3); }
.mw4 { @include win(4); }
.mw5 { @include win(5); }
.mw6 { @include win(6); }
.mw7 { @include win(7); }
.mw8 { @include win(8); }
.mw9 { @include win(9); }
.mw10 { @include win(10); }
.mw11 { @include win(11); }
.mw12 { @include win(12); }
.mw13 { @include win(13); }
.mw14 { @include win(14); }
.mw15 { @include win(15); }
.mw16 { @include win(16); }
.mw17 { @include win(17); }
.mw18 { @include win(18); }
.mw19 { @include win(19); }
.mw20 { @include win(20); }
.mw21 { @include win(21); }
.mw22 { @include win(22); }
.mw23 { @include win(23); }
.mw24 { @include win(24); }
.mw25 { @include win(25); }
.mw26 { @include win(26); }
.mw27 { @include win(27); }
.mw28 { @include win(28); }
.mw29 { @include win(29); }
.mw30 { @include win(30); }
.mw31 { @include win(31); }
.mw32 { @include win(32); }
.mw33 { @include win(33); }
.mw34 { @include win(34); }
.mw35 { @include win(35); }
.mw36 { @include win(36); }
.mw37 { @include win(37); }
.mw38 { @include win(38); }
.mw39 { @include win(39); }
.mw40 { @include win(40); }
.mw41 { @include win(41); }
.mw42 { @include win(42); }

@mixin loss($lvl) { background-color: rgb(213,213,213+$lvl); color: rgb(0,0,3*$lvl); }
.ml1 { @include loss(1); }
.ml2 { @include loss(2); }
.ml3 { @include loss(3); }
.ml4 { @include loss(4); }
.ml5 { @include loss(5); }
.ml6 { @include loss(6); }
.ml7 { @include loss(7); }
.ml8 { @include loss(8); }
.ml9 { @include loss(9); }
.ml10 { @include loss(10); }
.ml11 { @include loss(11); }
.ml12 { @include loss(12); }
.ml13 { @include loss(13); }
.ml14 { @include loss(14); }
.ml15 { @include loss(15); }
.ml16 { @include loss(16); }
.ml17 { @include loss(17); }
.ml18 { @include loss(18); }
.ml19 { @include loss(19); }
.ml20 { @include loss(20); }
.ml21 { @include loss(21); }
.ml22 { @include loss(22); }
.ml23 { @include loss(23); }
.ml24 { @include loss(24); }
.ml25 { @include loss(25); }
.ml26 { @include loss(26); }
.ml27 { @include loss(27); }
.ml28 { @include loss(28); }
.ml29 { @include loss(29); }
.ml30 { @include loss(30); }
.ml31 { @include loss(31); }
.ml32 { @include loss(32); }
.ml33 { @include loss(33); }
.ml34 { @include loss(34); }
.ml35 { @include loss(35); }
.ml36 { @include loss(36); }
.ml37 { @include loss(37); }
.ml38 { @include loss(38); }
.ml39 { @include loss(39); }
.ml40 { @include loss(40); }
.ml41 { @include loss(41); }
.ml42 { @include loss(42); }
